<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css"
		th:href="@{resources/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap-theme.min.css"
		  th:href="@{resources/bootstrap/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" href="../resources/style.css"
		  th:href="@{resources/style.css}"/>
	<script src="../resources/bootstrap/js/bootstrap.min.js"
			th:src="@{resources/bootstrap/js/bootstrap.min.js}"></script>

    <title th:text="#{policy.header}">Přihlášení</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--     <sec:csrfMetaTags />  -->
</head>
<body>
	<div class="container col-xs-3 col-centered login">
		<h1 th:text="#{policy.header}">Zásady ochrany osobních údajů</h1>
		<p th:text="#{policy.text}">
		</p>
	</div>
</body>
</html>