<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css"
		th:href="@{resources/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap-theme.min.css"
		  th:href="@{resources/bootstrap/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" href="../resources/style.css"
		  th:href="@{resources/style.css}"/>
	<script src="../resources/bootstrap/js/bootstrap.min.js"
			th:src="@{resources/bootstrap/js/bootstrap.min.js}"></script>
	<script src="../resources/js/validation.js" th:src="@{resources/js/validation.js}"></script>

    <title th:text="#{registration.header}">Registrace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div class="container col-xs-5 col-centered login">
		<h1 th:text="#{registration.header}">Registrace</h1>

		<form th:action="@{/registration}" th:object="${newUser}" method="post">
			<p th:text="${errMsg}" ></p>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="username" th:text="#{registration.username}">Uživatelské jméno</label>
            	        <input th:field="*{username}" id="username" class="form-control" required="required" autofocus="autofocus" />
            	    </div>
            	</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="password" th:text="#{registration.password1}">Heslo</label>
            	        <input type="password" th:field="*{password}" id="password" 
            	        	class="form-control" th:errorclass="has-error" required="required" />
            	    </div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12 col-sm-12 col-md-12">
            		<div class="form-group">
            			<label for="password2" th:text="#{registration.password2}">Heslo znovu</label>
            			<input type="password" id="password2" 
            				class="form-control" required="required" />
            		</div>
            	</div>
            </div>
            <div class="row">
            	<div class="col-xs-12 col-sm-12 col-md-12">
           			<div class="form-group">
           				<label for="stagname" th:text="#{registration.stagname}">UHK login</label>
           				<input th:field="*{stagname}" id="stagname" class="form-control" />
           			</div>
            	</div>
            </div>
            <div class="row">
            	<ul>
            		<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
            	</ul>
                <button type="submit" class="btn btn-primary">
            	    <span th:text="#{registration.save}">Registrovat</span>
                </button>
    	    </div>
	    </form>
	</div>
</body>
</html>