<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap.min.css"
		th:href="@{/resources/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../resources/bootstrap/css/bootstrap-theme.min.css"
		  th:href="@{/resources/bootstrap/css/bootstrap-theme.min.css}"/>
	<link rel="stylesheet" href="../resources/style.css"
		  th:href="@{/resources/style.css}"/>
	<script src="../resources/bootstrap/js/bootstrap.min.js"
			th:src="@{/resources/bootstrap/js/bootstrap.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<th:block th:fragment="header(title)">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header header">
            	<h1 th:text="${title}">Nadpis</h1>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right RobotoBoldUP">
                	<li sec:authorize="hasRole('ROLE_ADMIN')" th:if="${title} != #{administration.header}">
						<a th:href="@{/administration}" th:text="#{administration.header}">Administrace</a>  
                	</li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logoutProcess}" th:text="#{logout}">Odhlásit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>